
html, body {
	
	height:	100%;
	width: 100%;
	border: 0px;
	margin: 0px 0px;
	padding: 0;
	background-color: #E8E8E8;
	
}


.box {
	height: 100%;
	border-left: auto;
	border-right: auto;
	text-align: center;
	border-top:0;
	border-bottom: 0px;
	border-style:solid;
	border-color: #d1d1d1;
	margin-top: 40px;
	margin-left:0;
	padding: 0;
	--min-height: 50px;
}
